# IDE
# ----------------------------------------------------------------------
.idea/
.vs/
.vscode/

# DEPENDENCIES + PACKAGE MANAGERS
# ----------------------------------------------------------------------
node_modules/

# REVIEW, SCRATCHES, TEST
# ----------------------------------------------------------------------
coverage/
review/
scratch/
test/

# LOCKFILES
# ----------------------------------------------------------------------
package-lock.json
yarn.lock

# OTHER FILES
# ----------------------------------------------------------------------
.DS_Store

# LOG FILES
# ----------------------------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
